SERVICE_NAME=station-simulator-service
ENVIRONMENT=local
LOG_LEVEL=INFO
LOG_FORMAT=readable

KITCHEN_SERVICE_URL=http://localhost:8001
HTTP_TIMEOUT_SECONDS=3

SIMULATOR_ENABLED=true
SIMULATOR_SPEED_FACTOR=60
SIMULATOR_POLL_INTERVAL_MS=1000
SIMULATOR_WORKERS_CONFIG=grill_1:2,fryer_1:1,packaging_1:1
SIMULATOR_MIN_DURATION_FACTOR=0.7
SIMULATOR_MAX_DURATION_FACTOR=1.4
